<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
     <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

     <!-- Toggleable sidebar -->
     <div class="sidebar" id="sidebar">
       <div class="sidebar-item">
           <p>Навигация</p>
       </div>
     
       <nav class="sidebar-nav">
         
         <a class="sidebar-nav-item {{ if .IsHome }} active {{ end }}" href="/">Блог</a>
         <a class="sidebar-nav-item {{ if eq .RelPermalink "/post/" }} active {{ end }}" href="/post">Архив</a>
     
         {{ $thisperma := .Permalink }}
         {{ range .Site.Pages.ByWeight }}
           {{ if isset .Params "sidebar" }}
             <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
           {{ end }}
         {{ end }}
     
       </nav>
     
       <div class="sidebar-item">
         <p>Проекты</p>
       </div>
     
       <nav class="sidebar-nav">
         <a class="sidebar-nav-item" target="_blank" href="https://nickg.photos">NickG Photos (English)</a>
         <a class="sidebar-nav-item" href="/page/surzhik-raskladka-klaviatury-dlia-mac/">Surzhik - Keyboard Layout</a>
     
       </nav>
     
       <div class="sidebar-item">
         <p>&copy; {{ .Site.LastChange.Year }}. All rights reserved.</p>
       </div>
     </div>
     